on init
    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 8192
    write /sys/block/mmcblk0/queue/nr_requests 128

    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/read_ahead_kb 8192
    write /sys/block/sda/queue/nr_requests 128
